{% extends "base.html" %}
{% block title %}Мои заметки{% endblock %}

{% block content %}
<h2 class="mb-4">📝 Мои заметки</h2>

<form method="post" class="mb-4">
  <div class="input-group">
    <input name="text" class="form-control" placeholder="Новая заметка" required>
    <button class="btn btn-primary">Добавить</button>
  </div>
</form>

<ul class="list-group">
  {% for note in notes %}
    <li class="list-group-item d-flex justify-content-between">
      {{ note[2] }}
      <a href="/delete-note/{{ note[0] }}" class="btn btn-sm btn-danger">✖</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
